@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --clr-main: #837462;
    --clr-main-light: #b9a78f;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
}



.btn-main-color:hover{
    background: var(--clr-main-light);
    color: var(--clr-white);
  }

 .btn-main-active{
    background: var(--clr-main);
    color: var(--clr-white);

 } 


main {
    background-color: var(--clr-white);
    border-radius: 8px;
    margin: 3rem;
    padding: 3rem
}